body{
  background-color: rgb(58, 58, 58);
}

.movie-container{
  border: 1px;
  width: 600px;
  background-color: rgb(84, 83, 83);
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.movie-cover{
  float: left;
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 5px black;
  margin: 10px;
  display: inline-block;
}

.movie-title{
  color: white;
  font-family: Cambria;
  font-size: 25px;
  display: inline-block;
  vertical-align: top;
  font-weight: bolder;
  text-shadow: 0px 0px 5px rgb(24, 24, 24);
  float: left;
}

.movie-desc{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  float: left;
  vertical-align: top;
  padding: 10px;
  display: inline-block;

}

.review-button{
  background-color: rgb(242, 184, 36);
  border: none;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  float: left;
  margin-left: 20px;
  transition: width .35s, height .35s, box-shadow .35s, font-weight .95s;
}

.review-button:hover{
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.272);
  width: 82px;
  height: 32px;
} 

.checked {
  color: orange;
}

.star-rating{
  float: left;
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}

.navbar{
  list-style-type: none;
      margin: 0;
      margin-top: 0;
      padding: 0;
      overflow: hidden;
      background-color: goldenrod;
      border-radius: 5px;
}
ul.navbar li a:hover {
  color: white;
  background-color: rgb(220, 175, 61);
  transition: .35s;
}
ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #2a2929;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
  font-family: arial;
}
